*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 10vh;
    background-color: rgb(27, 27, 27);
    display: flex;
    justify-content: start;
    justify-content: space-between;
    align-items: center;    
}

.block{
    margin: 20px;
    padding: 20px;
    color:#234070;
    
}

.main{
    width: 100%;
    height: 135vh;
    background-color: rgb(24, 29, 53);
    background:-webkit-radial-gradient(ellipse farthest-corner at top center, #00e1ff 0%, #337794 0%, #293d3d 50%, #0f0f0f 100%);
    background:-o-radial-gradient(ellipse farthest-corner at top center, #00e1ff 0%, #337794 0%, #293d3d 50%, #0f0f0f 100%);
    background:-moz-radial-gradient(ellipse farthest-corner at top center, #00e1ff 0%, #337794 0%, #293d3d 50%, #0f0f0f 100%);
    background:radial-gradient(ellipse farthest-corner at top center, #00e1ff 0%, #337794 0%, #293d3d 50%, #0f0f0f 100%);
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Game{
    margin: 20px;
    width: 25%;
    height: 40vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(24, 29, 53);
    border-radius: 20px;
    transition: 1s;
    color:#234070;
    text-align: center;
}

.footer{
    width: 100%;
    height: 10vh;
    background-color: rgb(27, 27, 27);
    display: flex;
}


.Game:hover{
    transition: 1s;
    font-size: 20px;
}

a{
    text-decoration: none;
    transition: 1s;
}

a:hover{
    transition: 1s;
    padding: 50px;
}

